<a href="https://colab.research.google.com/github/Mitravanu/test-collab/blob/main/pythonpractice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def add_numbers(a, b=2, c):
    print(a + b + c)

add_numbers(a=1,b=2, c=3)

SyntaxError: ignored

In [ ]:
weight=int(input("Enter the weight"))
if weight%2==0:
  print("yes")
else:
  print("No")

Enter the weight20
yes

In [ ]:
def factorial(n):
    fact=1
    for i in range(1,n+1):
        fact=fact*i
    return fact

print(factorial(5))

120

In [ ]:
school_class = {}

while True:
    name = input("Enter the student's name: ")
    if name == '':
        break
    
    score = int(input("Enter the student's score (0-10): "))
    if score not in range(0, 11):
	    break
    
    if name in school_class:
        school_class[name] += (score,)
    else:
        school_class[name] = (score,)
print(school_class)
        
for name in sorted(school_class.keys()):
    adding = 0
    counter = 0
    for score in school_class[name]:
        adding += score
        counter += 1
    print(name, ":", adding / counter)

Enter the student's name: a
Enter the student's score (0-10): 5
Enter the student's name: a
Enter the student's score (0-10): 6
Enter the student's name: b
Enter the student's score (0-10): 7
Enter the student's name: b
Enter the student's score (0-10): 3
Enter the student's name:
{'a': (5, 6), 'b': (7, 3)}
a : 5.5
b : 5.0

In [ ]:
pol_eng_dictionary = {
    "zamek": "castle",
    "woda": "water",
    "gleba": "soil"
    }

for key, value in pol_eng_dictionary.items():
    print("Pol/Eng ->", key, ":", value)

Pol/Eng -> zamek : castle
Pol/Eng -> woda : water
Pol/Eng -> gleba : soil

In [ ]:
n=int(input("enter nos"))
count=0
for i in range(n):
  p,v,t = map(int,input().split())
  if (p==0 or p==1) and (v==0 or v==1) and (t==0 or t==1) :
    sum=p+v+t
    if sum>=2:
      count+=1
  else:
    print("input not valid")
    break
print(count)

enter nos2
2 4 5
input not valid
0

In [ ]:
from random import randrange


def display_board(board):
	print("+-------" * 3,"+", sep="")
	for row in range(3):
		print("|       " * 3,"|", sep="")
		for col in range(3):
			print("|   " + str(board[row][col]) + "   ", end="")
		print("|")
		print("|       " * 3,"|",sep="")
		print("+-------" * 3,"+",sep="")


def enter_move(board):
	ok = False	# fake assumption - we need it to enter the loop
	while not ok:
		move = input("Enter your move: ") 
		ok = len(move) == 1 and move >= '1' and move <= '9' # is user's input valid?
		if not ok:
			print("Bad move - repeat your input!") # no, it isn't - do the input again
			continue
		move = int(move) - 1 	# cell's number from 0 to 8
		row = move // 3 	# cell's row
		col = move % 3		# cell's column
		sign = board[row][col]	# check the selected square
		ok = sign not in ['O','X'] 
		if not ok:	# it's occupied - to the input again
			print("Field already occupied - repeat your input!")
			continue
	board[row][col] = 'O' 	# set '0' at the selected square


def make_list_of_free_fields(board):
	free = []	# the list is empty initially
	for row in range(3): # iterate through rows
		for col in range(3): # iterate through columns
			if board[row][col] not in ['O','X']: # is the cell free?
				free.append((row,col)) # yes, it is - append new tuple to the list
	return free


def victory_for(board,sgn):
	if sgn == "X":	# are we looking for X?
		who = 'me'	# yes - it's computer's side
	elif sgn == "O": # ... or for O?
		who = 'you'	# yes - it's our side
	else:
		who = None	# we should not fall here!
	cross1 = cross2 = True  # for diagonals
	for rc in range(3):
		if board[rc][0] == sgn and board[rc][1] == sgn and board[rc][2] == sgn:	# check row rc
			return who
		if board[0][rc] == sgn and board[1][rc] == sgn and board[2][rc] == sgn: # check column rc
			return who
		if board[rc][rc] != sgn: # check 1st diagonal
			cross1 = False
		if board[2 - rc][2 - rc] != sgn: # check 2nd diagonal
			cross2 = False
	if cross1 or cross2:
		return who
	return None


def draw_move(board):
	free = make_list_of_free_fields(board) # make a list of free fields
	cnt = len(free)
	if cnt > 0:	# if the list is not empty, choose a place for 'X' and set it
		this = randrange(cnt)
		row, col = free[this]
		board[row][col] = 'X'


board = [ [3 * j + i + 1 for i in range(3)] for j in range(3) ] # make an empty board
board[1][1] = 'X' # set first 'X' in the middle
free = make_list_of_free_fields(board)
human_turn = True # which turn is it now?
while len(free):
	display_board(board)
	if human_turn:
		enter_move(board)
		victor = victory_for(board,'O')
	else:	
		draw_move(board)
		victor = victory_for(board,'X')
	if victor != None:
		break
	human_turn = not human_turn		
	free = make_list_of_free_fields(board)

display_board(board)
if victor == 'you':
	print("You won!")
elif victor == 'me':
	print("I won")
else:
	print("Tie!")

+-------+-------+-------+
|       |       |       |
|   1   |   2   |   3   |
|       |       |       |
+-------+-------+-------+
|       |       |       |
|   4   |   X   |   6   |
|       |       |       |
+-------+-------+-------+
|       |       |       |
|   7   |   8   |   9   |
|       |       |       |
+-------+-------+-------+
Enter your move: 1
+-------+-------+-------+
|       |       |       |
|   O   |   2   |   3   |
|       |       |       |
+-------+-------+-------+
|       |       |       |
|   4   |   X   |   6   |
|       |       |       |
+-------+-------+-------+
|       |       |       |
|   7   |   8   |   9   |
|       |       |       |
+-------+-------+-------+
+-------+-------+-------+
|       |       |       |
|   O   |   X   |   3   |
|       |       |       |
+-------+-------+-------+
|       |       |       |
|   4   |   X   |   6   |
|       |       |       |
+-------+-------+-------+
|       |       |       |
|   7   |   8   |   9   |
|       |       |       |
+-------+-------+-------+
Enter your move: 8
+-------+-------+-------+
|       |       |       |
|   O   |   X   |   3   |
|       |       |       |
+-------+-------+-------+
|       |       |       |
|   4   |   X   |   6   |
|       |       |       |
+-------+-------+-------+
|       |       |       |
|   7   |   O   |   9   |
|       |       |       |
+-------+-------+-------+
+-------+-------+-------+
|       |       |       |
|   O   |   X   |   3   |
|       |       |       |
+-------+-------+-------+
|       |       |       |
|   4   |   X   |   6   |
|       |       |       |
+-------+-------+-------+
|       |       |       |
|   7   |   O   |   X   |
|       |       |       |
+-------+-------+-------+
Enter your move: 7
+-------+-------+-------+
|       |       |       |
|   O   |   X   |   3   |
|       |       |       |
+-------+-------+-------+
|       |       |       |
|   4   |   X   |   6   |
|       |       |       |
+-------+-------+-------+
|       |       |       |
|   O   |   O   |   X   |
|       |       |       |
+-------+-------+-------+
+-------+-------+-------+
|       |       |       |
|   O   |   X   |   X   |
|       |       |       |
+-------+-------+-------+
|       |       |       |
|   4   |   X   |   6   |
|       |       |       |
+-------+-------+-------+
|       |       |       |
|   O   |   O   |   X   |
|       |       |       |
+-------+-------+-------+
Enter your move: 4
+-------+-------+-------+
|       |       |       |
|   O   |   X   |   X   |
|       |       |       |
+-------+-------+-------+
|       |       |       |
|   O   |   X   |   6   |
|       |       |       |
+-------+-------+-------+
|       |       |       |
|   O   |   O   |   X   |
|       |       |       |
+-------+-------+-------+
You won!

In [ ]:
n,k = map(int,input().split())
score_list=[]
count=0
score_list = list(map(int,input().split())
for num in score_list:
  if num > 0 and num>score_list[k]:
    count+=1
print(count)

SyntaxError: ignored

In [ ]:
def happy_new_year(wishes = True):
    print("Three...")
    print("Two...")
    print("One...")
    if not wishes:
        return
    
    print("Happy New Year!")

In [ ]:
def is_year_leap(year):
    if year % 100 == 0:
        if year%400 == 0:
          return True
        else:
          return False
    if year % 4 == 0:
        return True
    else:
        return False
test_data = [1900, 2000, 2016, 1987]
test_results = [False, True, True, False]
for i in range(len(test_data)):
	yr = test_data[i]
	print(yr,"->",end="")
	result = is_year_leap(yr)
	if result == test_results[i]:
		print("OK")
	else:
		print("Failed")

1900 ->OK
2000 ->OK
2016 ->OK
1987 ->OK

In [ ]:
def is_year_leap(year):
  if year % 100 == 0:
        if year%400 == 0:
          return True
        else:
          return False
        if year % 4 == 0:
         return True
        else:
         return False

def days_in_month(year, month):
    if month == 1 or month == 3 or month == 5  or month == 7 or month == 8 or month == 10 or month == 12:
        return 31 
    elif month == 4 or month == 6 or month == 9 or month == 11:
        return 30
    else:
        if is_year_leap(year):
            return 29
        else:
            return 28
test_years = [1900, 2000, 2016, 1987]
test_months = [2, 2, 1, 11]
test_results = [28, 29, 31, 30]
for i in range(len(test_years)):
	yr = test_years[i]
	mo = test_months[i]
	print(yr, mo, "->", end="")
	result = days_in_month(yr, mo)
	if result == test_results[i]:
		print("OK")
	else:
		print("Failed")

1900 2 ->OK
2000 2 ->OK
2016 1 ->OK
1987 11 ->OK

In [ ]:
def is_year_leap(year):
    if year % 100 == 0:
        if year%400 == 0:
          return True
        else:
          return False
    if year % 4 == 0:
        return True
    else:
        return False

def days_in_month(year, month):
    if month == 1 or month == 3 or month == 5  or month == 7 or month == 8 or month == 10 or month == 12:
        return 31 
    elif month == 4 or month == 6 or month == 9 or month == 11:
        return 30
    else:
        if is_year_leap(year):
            return 29
        else:
            return 28

def day_of_year(year, month, day):
    if month <= 12 and day<=days_in_month(year,month):
        no_of_days=0
        for i in range(1,month):
            no_of_days+=days_in_month(year,i)
        no_of_days+=day
        return no_of_days
            
    
        
print(day_of_year(2000, 12, 31))

366

In [ ]:
-li